<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>665380249416-uc1i79uanltqoftao8fikq2cmk8o1b65.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.665380249416-uc1i79uanltqoftao8fikq2cmk8o1b65</string>
	<key>API_KEY</key>
	<string>AIzaSyBaS6nu45dWKvQ1QjUCo7eeYNwrnLiSJ1k</string>
	<key>GCM_SENDER_ID</key>
	<string>665380249416</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.redaAgourram-myApp.myApp</string>
	<key>PROJECT_ID</key>
	<string>myfirstapp-fe0b2</string>
	<key>STORAGE_BUCKET</key>
	<string>myfirstapp-fe0b2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:665380249416:ios:11e7f4868b5a005702dd7d</string>
</dict>
</plist>